@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;
  /* min-width: 100vw; */
}

.landing-container {
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

/* .landing-container section {
  scroll-snap-align: start;
} */

.emphasis {
  @apply font-bold text-blue-800;
}

.peoplelist-container {
  @apply grid grid-cols-1 md:grid-cols-4 place-content-start justify-items-center;
}

.peoplelist-container:has(> :nth-child(3):last-child) {
  @apply md:grid-cols-3;
}

.input {
  @apply py-3 px-2 border-2 border-gray-300 rounded-md;
}
